.leaderboard-container {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

.leaderboard-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.leaderboard-table th, .leaderboard-table td {
    border: 1px solid #ddd;
    padding: 10px;
}

.leaderboard-table th{
    background-color: #004aac;
    color: white;
}

.leaderboard-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

form {
    margin-bottom: 20px;
}

select {
    padding: 5px;
    font-size: 16px;
}
